/*Animation for Awards cards*/

.slidein {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.slidedown {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}

.fade {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.scroll-container {
    white-space: nowrap;
    overflow: hidden;
    animation: scrollRight 10s linear infinite;
}

@keyframes scrollRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 767px) {
    .show {
        opacity: 1;
        transform: translateX(0);
    }
}
